version: "3.9"

services:
  mediamtx:
    image: bluenviron/mediamtx:latest
    container_name: mediamtx
    ports:
      - "8554:8554"

  onvif-ip-camera-mock:
    # if you want to build it locally
    # build: .
    # container_name: onvif-ip-camera-mock
    image: ezequielmr94/onvif-ip-camera-mock
    depends_on:
      - mediamtx
    environment:
      RTSP_URL: rtsp://mediamtx:8554/cam1
    ports:
      - "8000:8000"
    restart: always
